.icons {
    display: flex;
    flex-direction: row;
    width: auto;
}

.icons-projects {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 24px;
    ;
}

html,
body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #474747;
}

body {
    margin: 0;
}

@media only screen and (max-width: 600px) {

    html,
    body {
        width: 100%;
        display: flex;
        height: auto;
    }

    .icons {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    .icons-projects {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
}