.icons-social {
    display: flex;
    flex-direction: row;
    width: auto;
    list-style-type: none;
    filter: contrast(10%);
}

.icons-projects {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    filter: contrast(10%);
}

.main-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 24px;
}

.icon:hover {
    filter: invert(1);
}

#title-projects {
    font-size: x-large;
    text-transform: uppercase;
}

html,
body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #1d1d1d;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

@media only screen and (max-width: 600px) {

    html,
    body {
        width: 100%;
        display: flex;
        height: auto;
    }

    .icons-social {
        flex-direction: column;
    }

    .main-container {
        margin-top: 32px;
        width: 100%;
    }

    .icons-projects {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
    }
}

.fade-in-animation {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}